<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681051848558-oht8kbcjbtbbh2763echtpqhbhv5f113.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681051848558-oht8kbcjbtbbh2763echtpqhbhv5f113</string>
	<key>API_KEY</key>
	<string>AIzaSyAEefDlbBnWZYlBQRn1l646Ixtdjk244oY</string>
	<key>GCM_SENDER_ID</key>
	<string>681051848558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramiroLima.Mobills-test</string>
	<key>PROJECT_ID</key>
	<string>mobills-test</string>
	<key>STORAGE_BUCKET</key>
	<string>mobills-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681051848558:ios:0451cf8d047a962e</string>
	<key>DATABASE_URL</key>
	<string>https://mobills-test.firebaseio.com</string>
</dict>
</plist>